@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

a:hover {
    color: blue;
    text-decoration-line: line-through;
}

a:active {
    color: aqua;
    font-family: roboto,;
}

a:link {
    color: black;
    font-family: line-through;
}

a:visited {
    color: chocolate;
}