* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image {
  flex: 1;
}

.card-content {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category {
  letter-spacing: 3px;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.card-content h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.description {
  color: #6b6b6b;
  font-size: 14px;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.new-price {
  color: #3a8062;
  font-weight: bold;
  font-size: 22px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.add-to-cart {
  background-color: #3a8062;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #2d664d;
}
